body {
    font-family: calibri;
    width: 90%;
    margin: auto;
}

h2 {
    margin-bottom: 0;
}

h4 {
    color: #2a2a2a;
    font-weight: lighter;
    padding-top: 0;
    margin-top: 0;
}

pre {
    background-color: #2a2a2a;
    color: white;
    padding: 5px;
    width: 500px;
    border-radius: 10px;
}

span {
    border: solid 1px; 
    padding: 3px;
}

.compare {
    width: 600px;
}

.compare img {
    width: 100%;
}